.body {
  font-family: "Poppins", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}
.button_primary {
  border: 0cap;
  color: white;
  background-color: #ff9900;
  font-weight: 600;
  border-radius: 4px;
  padding: 11px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: hand;
}
.button_secondary {
  border: 1px solid #bcd0e5;
  background-color: white;
  font-weight: 600;
  border-radius: 4px;
  padding: 11px 24px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: hand;
}
.button_tertiary {
  border: 0;
  color: #ff9900;
  font-weight: 400;
  background-color: white;
  border-radius: 4px;
  padding: 11px 24px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: hand;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.nav_wrapper {
  display: flex;
}
.nav_list_item {
  display: inline-block;
  margin-right: 24px;
}
.hero_image {
  width: 606px;
  height: 496px;
}
.hero_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
.horizontal_section {
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
.vertical_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 40px;
  background: url(images/bg_orange.svg) center bottom no-repeat;
  background-size: cover;
  padding-left: 40px;
  padding-right: 40px;
}
.text_centered {
  text-align: center;
}
.tools_block {
  display: flex;
  justify-content: space-between;
}
.image_left_placed {
  margin-right: 40px;
}
.image_right_placed {
  margin-left: 40px;
}
.avatar {
  margin-right: 12px;
}
.tool_item {
  max-width: 200px;
}
.box {
  display: flex;
  align-items: left;
  justify-content: left;
}
.footer_input {
  width: 340px;
  height: 48px;
  padding-left: 8px;
  border-radius: 4px;
  border: 1px solid #bcd0e5;
}
.footer {
  display: flex;
  align-items: top;
  height: 4000px;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
